<!DOCTYPE html>
<html>
<head>
  <title>ToDo編集</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>ToDo編集</h1>
  <form action="/update/<%= todo.id %>" method="post">
    <label>タイトル: <input type="text" name="title" value="<%= todo.title %>" required></label><br>
    <label>内容: <input type="text" name="content" value="<%= todo.content %>"></label><br>
    <label>期限: <input type="date" name="due_date" value="<%= todo.due_date %>"></label><br>
    <label>優先度: <input type="number" name="priority" min="1" max="5" value="<%= todo.priority %>"></label><br>
    <button type="submit">更新</button>
  </form>
  <a href="/">戻る</a>
</body>
</html>
